<table class="table table-striped">
  <thead>
    <tr>
      <td>ID</td>
      <td>Full name</td>
      <td>Email</td>
      <td>Username</td>
    </tr>
  </thead>
  <tbody>
    <% users.each do |x| %>
      <tr>
        <td><%= x.id %></td>
        <td><%= link_to x.full_name, x %></td>
        <td><%= x.email %></td>
        <td><%= x.username || "none" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
