<%= form_for user, html: {class: "username-form"} do |f| %>
  <div>
    <%= f.label :username %>
  </div>
  <div>
    <%= f.text_field :username, required: true %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
