<nav class="navbar navbar-default">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
       <%= icon("bars") %>
     </button>
     <a class="navbar-brand" href="/">Image Host</a>
   </div>
   <div class="collapse navbar-collapse" id="navbar">
     <ul class="nav navbar-nav">
       <li><a href="/users">Users</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <% if signed_in? %>
         <li><a href="#"><%= user_avatar current_user %></a></li>
         <li><%= link_to "Sign out", "/sign_out", method: :delete %></li>
       <% else %>
         <li><a href="#" data-toggle="modal" data-target="#modal-sign-up">Sign up</a></li>
         <li><a href="#" data-toggle="modal" data-target="#modal-sign-in">Sign in</a></li>
       <% end %>
     </ul>
   </div>
 </div>
</nav>
