/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$dark: #444;
$gray: #999;
$white: #FFF;
$facebookBlue: #3B5998;
$emerald: #2ecc71;
// $main: #22c322;
$main: #444;
$maxwidth: 960px;
//
// generic
//
body {
  max-width: $maxwidth;
  margin: 0 auto;
  background: #FAFAFA url("https://www.toptal.com/designers/subtlepatterns/patterns/photography.png") repeat center center;
  color: $dark;
  font-size: 16px;
}
textarea {
  resize: none;
}
.block-form {
  max-width: 640px;
  margin: 0 auto;
}
#content {
  background-color: #FAFAFA;
}
//
// 2 column image grid
//
.image-grid {
  img {
    padding: 16px;
  }
}
//
// photo selector
//
.photo-selector {
  font-size: 0;
  text-align: center;

  > img {
    margin: 4px;

    &.selected {
      border: 4px solid $emerald;
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=submit] {
    font-size: 16px;
  }
}
//
// SIGN IN PAGE ELEMENTS
//
.sign-in-method-separator {
  height: 1px;
  background-color: $gray;
  clear: both;
  margin: 32px 0;
  &:before {
    content: "OR";
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    top: -10px;
    color: $gray;
    background-color: #FFF;
  }
}

.btn-facebook {
  color: $white;
  background-color: $facebookBlue;
  > .fa {
    padding-right: 8px;
  }
}

//
// NAVBAR
//
.collapse.in, .collapsing {
  background-color: #EEE
}
.navbar {
  border: none;
  border-radius: 0;
  height: 64px;

  background-color: #FAFAFA;

  .navbar-brand {
    color: $dark;
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
  }

  .nav > li {
    &:hover {
      border-top: 4px solid $main;
    }
     > a {
      height: 64px;
      padding-top: 21px;

      color: $dark;

      > .profile-image {
        position: relative;
        top: -13px;
      }

      &:hover {
        color: $main;
        background-color: transparent;
        position: relative;
        top: -4px;
      }
    }
  }
}

//
// etc
//
.profile-image {
  border-radius: 100%;
}
